
.back-style{
	background-size:1519px 900px;
	width: 1519px;
	height: 900px;
	position: relative;
}
.download{
	background:url("../images/client-side/back-one.png") no-repeat top center;
}
.download-left>img{
	position: absolute;
}
@keyframes updown{
	0% {
	    transform: translateZ(0);
	}
	50% {
	    transform: translate3d(0,8px,0);
	}
	100% {
	    transform: translateZ(0);
	}
}
#sign-up,#sign-left-one,#sign-left-two,#sign-right{
	animation: updown 3s ease-in-out infinite;
}
#sign-down{
	left: 150px;
	top: 320px;
}
#sign-up{
	left: 280px;
	top: 170px;
	animation-delay: 1.2s;
}
#sign-left-one{
	left: -30px;
	top: 520px;
	animation-delay: 1.7s;
}
#sign-left-two{
	left: 10px;
	top: 410px;
	animation-delay: 1.2s;
}
#sign-right{
	left: 740px;
	top: 630px;
	animation-delay: 1.5s;
}
.download-right{
	width: 520px;
	height: 380px;
	position: absolute;
	right: 70px;
	top: 300px;
}
.download-content>img{
	margin-bottom: 20px;
}
.download-adress{
	width: 200px;
    height: 20px;
    padding: 15px 25px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 50px;
    color: #323232;
    background-color: #ffc625;
    background-image: linear-gradient(90deg,#ffc625,#ffc92a,#ffde7d);
    display: inline-block;
    margin-top: 30px;
}
.download-adress:hover{
	background-image: linear-gradient(90deg,#ffd626,#ffd926,#ffd926);
}
.update-log{
	display: inline-block;
	margin: 20px 10px;
	color: #a0a0a0;
}
.update-log:link,.update-log:visited{      
	color: #a0a0a0;
}
.update-log:hover,.update-log:active{   
	color: #fff;
}
.store{
	background:url("../images/client-side/back-two.png") no-repeat top center;
}
.store>img{
	position: absolute;
}
.store-img1{
	left: 140px;
	top: 260px;
}
.store-img2{
	right: 115px;
	top: 170px;
}
.store-remind{
	position: absolute;
	top: 460px;
	left: 100px;
	font-size: 18px;
	color: #aaa;
	letter-spacing: 0.5em;   /*字间距*/
	text-indent: 2em;    	 /*首行缩进2字符*/
}
.store-good{
	position: absolute;
	left: 120px;
	top: 550px;
}
.store-good>li{
	float: left;
	width: 80px;
	height: 70px;
	margin: 0 10px;
}
.mall{
	background:url("../images/client-side/back-three.png") no-repeat top center;
}
.mall>img{
	display: block;
	margin: auto;
	padding-top: 60px;
}
.mall>p{
	text-align: center;
	font-size: 18px;
	color: #aaa;
	padding-top: 30px;
}
.serve{
	background:url("../images/client-side/back-four.png") no-repeat top center;
}
.serve-title{
	display: block;
	padding-top: 140px;
	margin: auto; 
}
.serve>p{
	text-align: center;
	font-size: 18px;
	letter-spacing: 0.5em;   /*字间距*/
	color: #aaa;
	margin: 20px 0;
}
.serve-remind{
	width: 1300px;
	margin: 150px auto;
}
.serve-remind li{
	float: left;
	width: 320px;
	height: 320px;

}
.serve-remind-title{
	font-size: 32px;
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: bold;
}
.serve-remind-content{
	color: #aaa;
}
.developer{
	background:url("../images/client-side/back-five.png") no-repeat top center;
}
.developer-left>img{
	position: absolute;
}
.developer-down{
	left: 70px;
	top: 320px;
}
.developer-up1{
	left: 150px;
	top: 260px;
}
.developer-up2{
	left: 545px;
	top: 240px;
}
.developer-up3{
	left: 445px;
	top: 465px;
}
.developer-right{
	width: 350px;
	height: 360px;
	position: absolute;
	right: 150px;
	top: 300px;
}
.developer-right>p{
	margin: 60px 0;
	color: #aaa;
	font-size: 18px;
}
.developer-right>a{
	width: 200px;
    height: 20px;
    padding: 15px 25px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 50px;
    color: #323232;
    background-color: #ffc625;
    background-image: linear-gradient(90deg,#ffc625,#ffc92a,#ffde7d);
    display: inline-block;
}
.developer-right>a:hover{
	background-image: linear-gradient(90deg,#ffd626,#ffd926,#ffd926);
}
#wheel-action-cartoon{
	display: none;
	position: absolute;
	top: 1570px;
	width: 275px;
	height: 540px;
	z-index: 100;
	transition: all 3s;
}
#wheel-action-shank{
	position: absolute;
	top: 2670px;
	right: 0;
	width: 230px;
	height: 300px;
}
footer{
	position: relative;
	background-color: #000;
	height: 180px;
	padding: 55px 250px;
	color: #aaa;
}
.information-top{
	width: 1000px;
	height: 75px;
	
}
.information-top-left,.information-top-center,.information-top-right{
	float: left;
}
.information-top-left{
	width: 200px;
}
.information-top-span{
	display: inline-block;
	vertical-align: top;
	float: left;
}
.information-top a{
	max-width: 100px;
	height: 75px;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	float: left;
}
.information-logo{
	border: 1px solid #3a3a3a;
    border-radius: 50%;
}
footer a:link,footer a:visited{
	color: #aaa;
}
footer a:hover,footer a:active{
	color: #fff;
}
.information-top-center{
	width: 300px;
	margin: 0 85px;
}
.information-top-right{
	width: 330px;
}
.information-top-right>ul{
	width: 200px;
	height: 60px;
	float: left;
	margin-left: 30px;
}
.information-top-right a{
	margin: 0 27px 10px 0;
	width: 70px;
	height: 32px;
}
.information-bottem{
	font-size: 12px;
}
.information-bottem>ul{
	display: block;
	width: 1100px;
	height: 30px;
	margin: 40px 0 10px 120px;
}
.information-bottem a{
	padding-right: 7px; 
}
.information-bottem li{
	float: left;
	max-width: 100px;
	padding: 0 5px;

}
.information-bottem>p{
	text-align: center;
	margin-bottom: 20px;
}
#side-wechat-code{
	display: none;
	position: absolute;
	top: -80px;
	left: 685px;
}
#a-wechat:hover+#side-wechat-code{
	display: inline-block;
}






