*{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;	
}
a:link,a:visited{      
	text-decoration:none;     
	color:#000;
}
a:hover,a:active{   
	text-decoration:none;
}
@keyframes elastic{
	0% {
	    transform: scale3d(1, 1, 1);
	    /*opacity: 1;*/
	}
	30% {
	    transform: scale3d(1.15, 0.8, 1);
	}
	40% {
	    transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	    transform: scale3d(1.1, 0.85, 1);
	    /*opacity: 0.5;*/
	}
	65% {
	    transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	    transform: scale3d(1.05, .95, 1);
	}
	100% {
	    transform: scale3d(1, 1, 1);
	    /*opacity: 1;*/
	}
}
#header-top{
	height: 42px;
}
#nav-right-btn{
	width: 150px;
	height: 48px;
}
#notice{
	background: url("../images/demon/notice-back1.jpg") no-repeat top center;
	background-size: 1519px 900px;
	width: 1519px;
	height: 900px;
	position: relative;
}
#notice-wrap{
	width: 1160px;
	height: 360px;
	position: absolute;
	left: 50%;
	margin-left: -580px;
	bottom: -180px;
	z-index: 2;
	padding: 20px;
	border-radius: 20px;
    background-color: #f8fef9;
    box-shadow: 0 3px #dcdcdc;
    box-sizing: border-box;
}
#notice-download{
	width: 145px;
	height: 330px;
	display: inline-block;
	vertical-align: top;
}
#notice-download a{
	width: 145px;
	height: 52px;
	margin-top: 5px;
	display: block;
}
#demo{
	/*position: absolute;*/
	width: 620px;
	display: inline-block;
	vertical-align: top;
}
#news{
	width: 320px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}
#myTabContent{
	font-size: 15px;
}
#news a:link,#news a:visited{      
	text-decoration:none;     
	color: #6e94cd;
}
#news a:hover,#news a:active{   
	text-decoration:none;
	color: #78b5fb;
}
#news li{
	list-style-type: none;
}
.cha{
	border-bottom: 2px solid blue;
}
#notice-footer{
	background: url(../images/demon/handbook-back.png) no-repeat top center;
	width: 100%;
	height: 210px;
	position: absolute;
	bottom: 0;
}
/*模态框*/
#add-demon-modal{
	background-color: #fff;
}
.modal-dialog{
	pointer-events:all;
}
.demon-file{
	padding-top: 3px;
	border: 1px solid #ced4da;
	border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
	width: 80px;
	height: 38px;
}
#demon-message-modal-content{
	background-color: #fff;
}
#demon-message-intro{
	color: #3eabff;
	font-size: 14px;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    max-width: 300px;
    min-height: 180px;
    text-indent:2em;     /*首行缩进2字符*/
}
#demon-message-img-wrap{
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 100%;
	border: 1px solid #dee2e6;
}
#demon-type-h6{
	width: ;
	max-width: 120px;
	padding: 3px 5px;
	margin:0;
	border-radius: 10px;
	background-color: #f0f;
}
#demon-message-img{
	width: 100px;
	height: 100px;
	display: block;
	margin:auto;
}

/*妖灵图鉴*/
#handbook{
	width: 100%;
	height: 100%;
	position: relative;
	top: 350px;
}
#handbook-wrap{
	position: absolute;
	width:1160px;
	left: 50%;
	margin-left: -580px;
}
#handbook-title{
	height: 80px;
}
#handbook-nav{
	position: relative;
	min-width: 1160px;
	height:40px;
	overflow: hidden;
	top: 35px;
}
#handbook-nav li{
	float: left;
	border: 1px solid #a0a0a0;
	border-radius: 16px;
	text-align: center;
	max-width: 200px;
	height: 38px;
	line-height: 37px;
	padding: 0 15px;
	color: #a0a0a0;	
	font-size: 18px;
	margin-right: 20px;
 }
 #handbook-nav a:link,#handbook-nav a:visited{      
	text-decoration:none;     
	color:#a0a0a0;
}
#handbook-nav a:hover,#handbook-nav a:active{   
	text-decoration:none;
	color: #a0a0a0;
}
#handbook-nav-ul{
	position: absolute;
	left: 0;
	width: 1300px;
	height: 40px;
	z-index: 10;
}
#handbook-content{
	margin-top: 125px;
	width: 100%;
	height: 100%;
}
/*栅格系统样式*/
#search-demon-click{
	cursor: pointer;
}
.grid-img{
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	height: 100px;
}
.grid-p{
	max-width: 100px;
	height: 30px;
	text-align: center;
	font-size: 18px;
}
#div-search{
	position: absolute;
	width: 500px;
	height: 40px;
	top: 180px;
	right: 5px;
}
