
/*
*登录功能
*/
.login-wrap{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
}
.login{
	position: fixed;
	left: 50%;
    top: 50%;
    margin: -205px 0 0 -280px;
    z-index: 9999;
    width: 560px;
    height: 410px;
    background-color: #fff;
}
.login-title{
	width: 345px;
	height: 57px;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 215px;
	margin-bottom: 5px;
}
.login-title li{
	width: 20px;
	height: 37px;
	float: left;
	padding: 10px 10px;
	margin: 0 10px;
	cursor: pointer;
}
.login-title li:nth-child(1){
	border-bottom: 2px solid orange;
}
#close{
	float: right;
	width: 15px;
	height: 15px;
	margin: 10px;
	cursor: pointer;
}
.login-content{
	height: 350px;
}
/*QQ登录界面*/
.login-content-qq{
	width: 100%;
	height: 350px;
}
.login-content-qq>p{
	text-align: center;
}
.login-content-qq>p:nth-child(1){
	font-size: 20px;
	margin: 25px 0;
}
#login-qq-quick,#login-qq-count{
	margin-bottom: 20px;
}
#login-qq-count{
	display: none;
}
.login-content-qq a:link,.login-content-qq a:visited{
	text-decoration:none;
	color: blue;
}
.login-content-qq a:hover,.login-content-qq a:active{   
	text-decoration:underline; /*定义文本下的一条线(下划线)*/
	color: blue;
}
#login-code{
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -61px;
	padding: 2px;
	border:1px solid #e5e5e5;
}
#login-scan{
	display: none;
	position: absolute;
	left: 50%;
}
.login-content-help{
	position: absolute;
	bottom: 10px;
	right: 0;
	font-size: 13px;
}
.login-content-help>li{
	float: left;
	max-width: 150px;
	margin-right: 5px;
}
.login-content-help a:link,.login-content-help a:visited{
	text-decoration:none;
	color: #666;
}
.login-content-help a:hover,.login-content-help a:active{   
	text-decoration:underline; 
	color: #666;
}
#login-qq-img{
	display: block;
	width: 300px;
	height: 150px;
	margin-left: 100px;
}
#login-qq-form{
	display: none;
}
.login-content-qq>form{
	width: 100%;
	height: 150px;
}
/*qq账号密码的输入框样式*/
.qq-input{
	display: block;
	padding: 10px;
	width: 258px;
	height: 18px;
	line-height: 18px;
	margin: auto;
	margin-bottom: 15px;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	color: #000;
}
/*登录提交按钮*/
#qq-submit{
	display: block;
	margin: auto;
	width: 282px;
	height: 40px;
	background-color: #9c0;
	color: #fff;
	cursor: pointer;
	border:none;
}
#login-hint{
	position: absolute;
	bottom: 40px;
	color: red;
	font-size: 13px;
	width: 100%;
	text-align: center;
}
/*微信登录界面*/
#login-content-wechat{
	display: none;
	text-align: center;
}
#login-content-wechat>img{
	display: block;
	margin:auto;
	width: 180px;
	height: 180px;
}
#login-content-wechat>p{
	margin:15px 0;
}
#login-content-wechat>p:nth-child(1){
	font-size: 20px;
}
#login-content-wechat>p:nth-child(2),#login-content-wechat>p:nth-child(5){
	font-size: 12px;
	font-weight: bold;
	color: #999;
}
#login-content-wechat>p:nth-child(4){
	font-size: 12px;
}
/*
*搜索栏
*/
.search{
	width: 100%;
	height: 50px;
	font-size: 13px;
	position: absolute;
	z-index: 10;
	background-color: #fff;
}
.search-left li{
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
#all-image{
	position: absolute;
	left: 400px;
	top: 18px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.search-left{
	margin: 0 220px;
}
.search-left-center{
	margin-left:230px;
}
.search>p{
	display: inline-block;
	float: left;
	width: 190px;
	border-radius: 32px;
    height: 30px;
    margin-top: 8px;
    color: #858585;
	padding-right: 48px;
	border: 1px solid #faab00;
    background-color: #ffe37f;
    overflow: hidden;    
}
.search input{
	width: 170px;
	line-height: 18px;
    height: 30px;
	outline: 0;
	cursor: text;
	padding: 3px 15px;
	color: #ccc;
    font-size: 12px;
    border:none;
    border-radius-left: 32px;
}
.input-clear{
	width: 22px;
	height: 22px;
	position: absolute;
	right: 265px;
	top: 15px;
	font-size: 14px;
	font-style:normal;
	opacity: 0.5;
	cursor: pointer;
}
.search img{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 14px;
	right: 242px;
	z-index: 10;
}
.search-rank{
	display: none;
	width: 200px;
	height: 170px;
	position: absolute;
	right: 230px;
	top: 130px;
	background-color: #fff;
	border-radius:10px;
	padding: 10px 20px;
	font-size: 13px;
	z-index: 12;
}
.search-rank>p{
	color: #e0e0e0;
}
.search-rank ul{
	margin-top: 10px;
}
.search-rank li{
	clear: both;
	width: 100px;
	height: 14px;
	margin: 16px 0;
	line-height: 14px;
	text-align: left;
}
.search-rank i{
	display: inline-block;
	background-color: #ff8c00;
	color: #fff;
	font-size: 13px;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	text-align: center;
	font-style:normal;     //去掉i标签默认的倾斜效果
}
aside{
	float: left;
	width: 220px;
	margin: 10px auto;
	padding-left: 38px;
}
.download{
	width: 170px;
	height: 215px;
	background-color: #fff;
}
.download>img{
	display: block;
	margin: 10px auto;
	width: 138px;
	height: 138px;
}
.download>p{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 8px;
}
.label{
	width: 170px;
	height: 350px;
	background-color: #fff;
	margin-top: 20px;
}
.label>p{
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #808080;
	font-size: 18px;
	border-bottom: 1px solid #e8e8e8;
}
.label li{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: left;
	padding-left: 20px;
}
.phone-simulator{
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}
.phone-simulator>p{
	width: 135px;
	height: 25px;
	background-color: #ffd700;
	border-radius: 40px;
	text-align: center;
	position: absolute;
	left: 17px;
	top: 180px;
}
.phone-simulator>p:hover{
	filter: brightness(80%);
	transition: all 1s;
}
.section-top-img{
	display: block;
	margin: auto;
	width: 100%;
	height: 130px;
}
.icon-show{
	display: none;
	position: absolute;
	top: 194px;
	left: 700px;
}
#icon-hidden{
	display: none;
	position: absolute;
	top: 632px;
	left: 700px;
}
.icon-rotate{
	position: absolute;
	left: 35px;
	bottom: 0px;
}
section{
	height: 100%;
	width: 1000px;
	display: block;
	margin: 20px auto;
}
#carousel{
	position: relative;
	width: 1000px;
	height: 326px;
	border:1px solid #C0C0C0;
	overflow:hidden;
}
#carousel-wrap{
	position: absolute;
	width:calc(1000px * 5);   /*计算轮播总宽度*/
	height: 326px;
    z-index: 1;
}
.carousel-wrap-content{
	position: absolute;
	width: 310px;
	height: 326px;
	top: 0;
	z-index: 5;
	color: #fff;
}
#carousel-wrap-content-one{
	left: 690px;
}
#carousel-wrap-content-two{
	left: 1690px;
}
#carousel-wrap-content-three{
	left: 2690px;
}
#carousel-wrap-content-four{
	left: 3690px;
}
#carousel-wrap-content-five{
	left: 4690px;
}
#carousel-wrap-content-one>p:nth-child(1){
	color: #fff;
	font-size:28px;
	margin-top: 30px;	
	margin-bottom: 15px;
}
#carousel-wrap-content-one>p:nth-child(2){
	color: hsla(0,0%,100%,0.6);
	font-size: 18px;
	margin-bottom: 15px;
}
#carousel-wrap-content-one>p:nth-child(3){
	margin: 20px auto;
	border-radius: 3px;
	width: 170px;
	height: 30px;
	line-height: 30px;
	background-color: #ffc800;;
	color: #000;
}
#carousel-wrap-content-one img{
	margin-top: 20px;	
	width: 125px;
	height: 60px;
	border-radius: 3px;
	border:3px solid #505050;
}
#carousel-one-left{
	margin-left: 20px;
}
#carousel-wrap-content-five>p:nth-child(1){
	filter: brightness(30%);//调解亮度
}
.carousel-wrap-content>p{
	text-align: center;
}
.carousel-wrap-content>p:nth-child(1){
	margin: 40px 0;
	color: hsla(0,0%,100%,0.6);
}
.carousel-wrap-content>p:nth-child(2){
	font-size: 24px;
	margin-bottom: 120px;
}
.carousel-wrap-content>p:nth-child(3){
	font-size: 14px;
	color: #ff8c00;
}
#carousel-wrap>div{
	float:left;
	width: 1000px;
	height: 326px;
}
#btn-last,#btn-next{
	width: 30px;
	height: 68px;
	position: absolute;
	top: 125px;
	border-radius: 4px;
	background: rgba(0,0,0,0.15);
	cursor: pointer;
	z-index: 10;
}
#btn-last{
	left: 0;
}
#btn-next{
	right: 0;
}
#btn-last>img,#btn-next>img{
	display: block;
	margin: 22px auto;
}
#carousel-click{
	position: absolute;
	top: 300px;
	left: 375px;
	width: 300px;
	height: 32px;
	z-index: 3;
}
#carousel-click li{
	float: left;
	margin: 12px 20px 0 0;
	width: 40px;
	height: 4px;
	background-color: #c0c0c0;
	cursor: pointer;
}
#carousel-click .on{
	background-color: #f90; 
}
#carousel-click li:hover{
	height: 7px;
	background-color: #f90;
}
.foreshow{
	position: relative;
	top: 20px;
	height: 490px;
}
.foreshow hr{
	FILTER: alpha(opacity=100,finishopacity=0,style=3);
	position: absolute;
	top: 127px;
}
.foreshow li{
	width: 185px;
	margin: 0 7px;
	float: left;
}
.title{
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 20px;
}
.foreshow-time{
	font-size: 15px;
	font-weight: bold;
}
.foreshow-title{
	color: #808080;
	margin-top: 5px;
	font-size: 13px;
}
.foreshow-time-last{
	display: block;
	margin: 16px auto;
	width: 150px;
	height: 25px;
	background-color: #ff8c00;
}
.foreshow-content{
	height: 300px;
	margin-top: 40px;
	overflow: hidden;
}
.foreshow-content-detail{
	position: absolute;
	width: 185px;
	z-index: 10;
	background-color: #fff;
}
.foreshow-content-detail>h3{
	margin: 5px 0;
	font-weight: normal;
	font-size: 15px;
}
.foreshow-content-detail>p,.foreshow-hidden{
	color: #808080;
	font-size: 14px;
	margin-bottom: 10px;
}
.foreshow-content img{
	width: 185px;
	height: 235px;
}
.foreshow-hidden{
	display: none;
	height: 32px;
	line-height: 32px;
	border-top: 1px solid #f0f0f0;
}
.foreshow-content:hover .foreshow-content-detail{
	transform:translateY(-40px);
	transition: all 1s;
}
.foreshow-content:hover .foreshow-hidden{
	display: block;
}
@keyframes moves {           /*创建动画*/
	0%,50% {                      /*百分比规定变化的发生的时间*/
		bottom:32px;            
	}
	60%,100% {
		bottom:0;
	}
}
.preferential{
	position: relative;
	height: 500px;
}
.preferential-format{
	display: inline-block;
	background-color: #fff;
}
.preferential-one{
	width: 480px;
	height: 410px;
}
.preferential-one>img{
	width: 480px;
	height: 300px;
}
.preferential-one-content{
	padding: 15px 15px 0 15px;
}
.preferential-one-content>p:first-child{
	font-weight: bold;
}
.present-price{
	display: inline-block;
	color: #ff7f50;
	margin: 5px 5px 5px 0;
}
.original-price{
	color: #a9a9a9;
	text-decoration :line-through;			//贯穿线效果
}
.discount-first{
	position: absolute;
	left: 385px;
	top: 390px;
}
.discount-one,.discount-two{
	color: #ff7f50;
	font-weight: bold;
}
.discount-one{
	font-size: 35px;
}
.discount-two{
	font-size: 22px;
}
.preferential-time{
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #e8e8e8;
	color: #a9a9a9;
	font-size: 12px;
}
.preferential-two{
	margin: 0 10px; 
}
.preferential-two,.preferential-three{
	width: 240px;
	height: 410px;
}
.preferential-two>img,.preferential-three>img{
	width: 240px;
	height: 300px;	
}
.discount-second{
	position: absolute;
	left: 650px;
	top: 390px;
}
.discount-third{
	display: inline-block;
	color: green;
	font-size: 14px;
	margin: 5px 0;
}
/*视频播放*/
.recommend{
	position: relative;
	width: 100%;
	height: 520px;
	padding:20px 0;
	background: linear-gradient(30deg, rgb(160,82,45) , rgb(255,246,143));
}
.recommend-title>span{
	border-radius: 32px;
	display: inline-block;
	vertical-align: top;
	border:2px solid #cd853f;
	overflow: hidden;
	width: 32px;
	height: 32px;
	margin:0 5px;
}
.recommend-title>span>img{
	width: 32px;
	height: 32px;
	vertical-align: middle;
}
.recommend-title>h2{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 28px;
}
.recommend-content{
	margin-top: 30px; 
	height: 380px;
}
.recommend-content img{
	border-radius: 5px;
	border:1px solid #000;
}
.vedio{
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -305px;
	z-index: 10;
}
#vedio{
	display: block;
	margin: 30px auto;
}
.vedio-img-two-type{
	width: 480px;
	height: 300px;
	position: absolute;
}
.vedio-img-two-position{
	top: 120px;
	right: 100px;
	z-index: 9;
}
.vedio-img-three-type{
	width: 420px;
	height: 270px;
	position: absolute;
}
.vedio-img-three-position{
	top: 135px;
	right: 10px;
	z-index: 8;
}
.vedio-img-four-position{
	top: 135px;
	left: 10px;
	z-index: 6;
}
.vedio-img-five-position{
	top: 120px;
	left: 100px;
	z-index: 7;
}
#vedio-detail{
	display: none;
	width: 140px;
    height: 36px;
    line-height: 32px;
    border: 1px solid #707070;
    border-radius: 18px;
    font-size: 14px;
    color: #a0a0a0;
    text-align: center;
    background-color: #000; 
    position: absolute;
    opacity: 0.7;
    top: 235px;
    left: 50%;
    margin-left: -80px;
    cursor: pointer;
    z-index: 15;
}
#vedio-detail:hover{
	background-color: #ffd700;
	color: #000;
	opacity: 1;
}
.vedio:hover~#vedio-detail,#vedio-detail:hover{
	display: inline-block;
}
.recommend-bottem{
	width: 610px;
	height: 80px;
	position: absolute;
	left: 50%;
	margin-left: -305px;
}
.recommend-bottem-title{
	max-width: 350px;
	color: #fff;
	margin-bottom: 10px;
}
.recommend-bottem-type{
	color: hsla(0,0%,100%,.4);
	font-size: 14px;
}
#vedio-attention{
	display: inline-block;
	width: 134px;
    height: 36px;
    line-height: 32px;
    border: 2px solid rgba(255,174,0,.5);
    border-radius: 36px;
    font-size: 14px;
    color: #faab00;
    font-weight: 700;
    text-align: center;
    background-color: rgba(0,0,0,0.15); 
    position: absolute;
    top: 6px;
    right: 55px;
    cursor: pointer;
}
#vedio-attention:hover{
	background-color: rgba(227,156,0,0.15);
}
#next-vedio{
	position: absolute;
	right: 0;
	top: 10px;
	border: 2px solid hsla(0,0%,100%,0.3);
	width: 40px;
    height: 26px;
    border-radius: 26px;
    cursor: pointer;
    background:url("../images/next-vedio.png") no-repeat center;
}
/*更多内容*/
.more{
	width: 700px;
	display: inline-block;
}
.more-title{
	display: inline-block;
}
.game-classification{
	color: #3c3c3c;
	font-size: 12px;
	display: inline-block;
	margin-left:275px;
}
.game-classification>li{
	float: left;
	border: 1px solid #b7b7b7;
	width: 74px;
	height: 26px;
	line-height: 26px;
}
.game-classification>li:first-child{
	border-radius: 26px 0 0 26px;
}
.game-classification>li:last-child{
	border-radius: 0 26px 26px 0;
}
.more-content{
	width: 700px;
	height: 100px;
	background-color: #fff;
	margin-bottom: 15px;
	border-radius: 10px;
	overflow: hidden; 
}
.more-content li{
	height: 100px;
}
.more-content img{
	width: 180px;
	height: 100px;
	float: left;
}

.more-content-right{
	width: 480px;
	padding: 15px;
	text-align: left;
	float: right;
}
.more-content-right a:hover{
	background-color: #f0f0f0;
	transition: all 0.5s;
}
.more-content-right a:link,.more-content-right a:visited,
.more-content-right a:hover,.more-content-right a:active{
	color:#000; 
}
.more-time{
	display:block;
	font-size: 13px;
	margin: 5px 0;
}
.more-price{
	float: right;
	margin-top: -25px;
	color: #a9a9a9;
	font-size: 14px;
}
.more-content-right a{
	max-width: 100px;
	height: 22px;
	line-height: 22px;
	float: left;
	margin-right: 5px;
	border: 1px solid #e8e8e8;
	font-size: 12px;
	padding: 0 3px;	
}
.more-bottom{
	background-color: #d0d0d0;
	height:38px;
	line-height: 38px;
	text-align: center;
	color: #606060;
	cursor: pointer;
	transition: all 0.8s;
}
.more-bottom:hover{
	color: #000;
	background-color: #a9a9a9;
}
.more-right{
	position: relative;
	width: 280px;
	height: 300px;
	background-color: #fff;
	float: right;
	margin-top: 20px;
}
.more-right-content{
	padding: 15px;
}
.more-right-content>p{
	display: block;
	float: left;
	width: 190px;
	border-radius: 32px;
    height: 30px;
    margin: 8px 8px;
    color: #858585;
	padding-right: 48px;
	border: 1px solid #faab00;
    background-color: #ffe37f;
    overflow: hidden;    
}
.more-right-content input{
	width: 170px;
	line-height: 18px;
    height: 30px;
	outline: 0;
	cursor: text;
	padding: 3px 15px;
    font-size: 12px;
    border:none;
    border-radius-left: 32px;
}
.more-right-content img{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 30px;
	right: 35px;
	z-index: 10;
}
.more-right-label{
	padding: 15px;

}
.more-right-label>a{
	display: inline-block;
	max-width: 160px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	border:1px solid #e8e8e8;
	padding: 0 5px;
	margin: 0 10px 10px 0;
}
.more-right-label>a:hover{
	background-color: #f0f0f0;
	transition: all 0.5s;
}
.more-right-label>a:link,.more-right-label>a:visited,
.more-right-label>.more-right-label>a:hover,.more-right-label>a:active{
	color:#000; 
}